<!DOCTYPE html>
<html>
<head>
  <title>Shadowmsg</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  	<script type="text/javascript">
	     var SpritzSettings = {
	               clientId: "6c3a147d2cd7d078b",
	               redirectUri:"http://www.shadowmsg.com/messages/login_success"
	     };
	</script> 
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="//sdk.spritzinc.com/js/1.2/js/spritz.min.js"></script>
	
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
			<li><%= link_to "Shadowmsg", root_path %></li>
			<li><%= link_to "Create A Message",new_message_path %></li>
			<li><%= link_to "Privacy", privacy_path %></li>
			<div class = "pull-right user-info">
				<%- if signed_in? %>
					Signed In
					<%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-sm' do %>
                  	<span class="glyphicon glyphicon-log-out"></span>
                <% end %>
				<% else %>
				<%= link_to "Sign In", new_user_session_path %> or
				<%= link_to "Sign Up", new_user_registration_path %>
				<% end %>

			</div>
		</ul>
		<%= yield %>
	</div>

</body>
</html>
